/* ----------------------------------------------------
The personal portfolio website of Ben Adam -  @benadam11
----------------------------------------------------- */

/*-- scss imports --*/
@import "reset";
@import "mixins";
@import "baselinegrid";

/* ----------------------------------------------------
Fonts / Colors / Variables
----------------------------------------------------- */

@mixin bodoni {font-family:"ltc-bodoni-175", serif;}
@mixin garamond {font-family: Garamond,"garamond-premier-pro-display", Georgia, serif;}
@mixin space{ padding-bottom:1em;}
@mixin more_space {padding-bottom:2em;}
@mixin transition-left{
    -webkit-transition: left .2s linear;
    -moz-transition: left .2s linear;
    -o-transition: left .2s linear;
    transition: left .2s linear;
}
@mixin transition-right{
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    -o-transition: right .2s linear;
    transition: right .2s linear;
}

$grey:#26353A;



/*------------------------
Global styles
------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body
{
    height: 100%;
}

body{
	color:$grey;
  -webkit-font-smoothing: antialiased;
}
a{
  color:$grey;
  text-decoration: none;
}
ul{
  list-style:none;
}

img{
  width:100%;
  height:auto;
}
/*----------------------
Layout & Typography
--------------------------*/

h1, h2{
	@include bodoni;
}
h2,h3,h4,h5,h6,p,blockquote,a,li{
	font-family:Georgia;
}

.column-text{
  font-size: 1.5em; /* 18 / 16 */
  line-height: 1.5em; /* 30 / 16 */
  margin-bottom: 1.5em; /* 24 / 16 */
  font-weight:500;
}

blockquote{
  font-size: 1.5em; /* 24 / 16 */
  line-height: 2.250em; /* 30 / 16 */
  margin-bottom: 1.5em; /* 24 / 16 */
  font-weight: bold;
}

blockquote:before{

}

blockquote:after{

}
/*------------------------
Header / Nav
-------------------------*/

#header{
  padding-top:4em;
  position:relative;
  z-index:1000;
}
#header-nav{
  float:right;
}
@media (min-width: 20rem) and (max-width: 40rem){
  #header-nav{float:left;}
}
.list-item{
  float:left;
  padding-left:3em;
}
@media (min-width: 20rem) and (max-width: 40rem){
  .list-item:first-child{padding-left:0em;}
}
.list-item{
  a {
    font-size:1.5em;
    text-decoration: none;
    padding-bottom:.5em;
  }
  a:hover{
    border-bottom: 1px solid $grey;
  }
}

/*Global Elements*/
.content{
  position:relative;
}
hr{
  width:100px;
  display:inline-block;
}
.btn{
  @include garamond;
  font-style:italic;
  font-size:1.5em;
}
.arrow {
    position: relative;
    left: 0;
    vertical-align: middle;
    font-size: 1em;
    @include transition-left;
}
a:hover .arrow, button:hover .arrow {
    left: 10px;
    @include transition-left;
}
.arrow-left {
    position: relative;
    right: 0;
    vertical-align: middle;
    font-size: 8px;
    @include transition-right;
}
.arrow-right {
    position: relative;
    right: 0;
    vertical-align: middle;
    font-size: 8px;
    @include transition-left;
}
a:hover .arrow-left, button:hover .arrow-left {
    right: 10px;
    @include transition-right;
}
.space{
  @include space;
}
.more-space{
  @include more_space;
}
.center{
  text-align:center;
}

/* -------------------
Set Up The Grid
--------------------*/

.global-wrap{
	position:relative;
}

/*Grid from Adam Kaplan adamkaplan.me*/
.container {
  margin: 0 auto;
  max-width: 65rem;
  height:100%;
  width: 90%;
  position:relative;
}
.container-inner{
  margin:0 auto;
  max-width:60em;
  height:100%;
  width: 90%;
  position:relative;
}
@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .column:first-child {
    padding-left:0rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/*Clearfix by @necolas*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* -------------------
Page Layouts
--------------------*/
.hero{
  background: #eef2f5;
  overflow: hidden;
  background-position: center;
  width:100%;
  min-height:600px;
  height:auto;
  top:-6em;
  left:0;
  position:relative;
  z-index: 0;
}
.hero-logo{
  margin: auto;
  padding-left:1em;
  padding-right:1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2
}
.bleed-top{
  position:relative;

}
/*Home Page*/
#home-page{
  background:url(../images/Hero_Bg.jpg);
  @include background-cover;
  min-height: 100%;
  width:100%;
  position:relative;
  top:-6em;
}
.main-content{
  padding-top:15em;
}
@media screen and (min-width: 1234px) and (min-height:900px){
  .main-content{
  padding-top:25em;
}
}
/*Projects*/

#holycross-hero{
  background:url(../images/Mountain.jpg) no-repeat;
   @include background-cover;
   background-position:bottom;
}
#prosport-hero{
  background:url(../images/prosport-hero.jpg) no-repeat;
   @include background-cover;
   background-position:bottom;
}
#ww-hero{
  background:url(../images/ww-hero.jpg) no-repeat;
  @include background-cover;
  background-position:bottom;
}
/*Projects List & Blog*/

#projects-hero{
  background:url(../images/ww-hero.jpg) no-repeat;
  @include background-cover;
  background-position:bottom;
}
#blog-hero{
  background:url(../images/ww-hero.jpg) no-repeat;
  @include background-cover;
  background-position:bottom;
}
.list-hero{
  padding-top:6em;
}
.blog{
  padding-top:6em;
}

