/* ----------------------------------------------------
The personal portfolio website of Ben Adam -  @benadam11
----------------------------------------------------- */

/*-- scss imports --*/
@import "reset";
@import "mixins";

/*------------------------
Global styles
------------------------*/
$grey:#26353A;
$orange:#d65c2d;

*, 
*:before, 
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body
{
    height: 100%;
}
body{
	color:$grey;
  -webkit-font-smoothing: antialiased;
}
a{
  color:$grey;
  text-decoration: none;
}
ul{
  list-style:none;
}

img{
  width:100%;
  height:auto;
}
.orange{
  color:$orange;
}
.small{
  font-size: .75em;
}

#footer{
  text-align:center;
  border-top:1px solid #D4D4D4;
  padding-top:3em;
  padding-bottom:2em;
  margin-top:3em;
}


@import "baselinegrid";

/*------------------------
Header / Nav
-------------------------*/

#header{
  padding-top:4em;
  position:relative;
  z-index:1000;
}
@media (min-width: 20rem) and (max-width: 30rem){
  #header{
    text-align:center;
    border-bottom:1px solid #D4D4D4;
    padding-top:2em;
    padding-bottom:2em;
  }
}
.site-logo{
  background: url(../images/logo.png)no-repeat;
  height:42px;
  width:42px;
  float:left;
}
@media (min-width: 20rem) and (max-width: 40rem){
  .site-logo{display:none;}
}
#header-nav-menu{
  float:right;
  padding-top:1em;
}

@media (min-width: 20rem) and (max-width: 40rem){
  #header-nav{display:inline-block;}
}
.list-item{
  float:left;
  padding-left:3em;
}
@media (min-width: 20rem) and (max-width: 40rem){
  .list-item{
  float:left;
  padding-left:2em;
}
}
@media (min-width: 20rem) and (max-width: 40rem){
  .list-item:first-child{padding-left:0em;}
}
.list-item{
  a {
    font-size:1.25em;
    text-decoration: none;
    padding-bottom:.5em;
  }
  a:hover{
    border-bottom: 1px solid $grey;
  }
}
/*------------------------
Global Elements
-------------------------*/

.content{
  position:relative;
}
hr{
  width:100px;
  display:inline-block;
}
.btn{
  @include garamond;
  font-style:italic;
  font-size:1.5em;
}
.arrow {
    position: relative;
    left: 0;
    vertical-align: middle;
    font-size: 1em;
    @include transition-left;
}
a:hover .arrow, button:hover .arrow {
    left: 10px;
    @include transition-left;
}
a:hover .arrow-right, button:hover .arrow-right {
    right: 10px;
    @include transition-right;
}
.arrow-left {
    position: relative;
    right: 0;
    vertical-align: middle;
    font-size: 1em;
    @include transition-right;
}
.arrow-right {
    position: relative;
    right: 0;
    vertical-align: middle;
    font-size: 1em;
    @include transition-right;
}
a:hover .arrow-left, 
button:hover .arrow-left {
    right: 10px;
    @include transition-right;
}
.space{
  @include space;
}
.more-space{
  @include more_space;
}
.center{
  text-align:center;
}
.fade-in{
  display:none;
}

/* -------------------
Set Up The Grid
--------------------*/

@import "layout";


/* -------------------
Page Layouts
--------------------*/

.hero{
  background: #F5F5F5;
  overflow: hidden;
  width:100%;
  min-height:600px;
  height:auto;
  top:-8em;
  left:0;
  position:relative;
  z-index: 0;
}

.hero-logo{
  margin: auto;
  padding-left:1em;
  padding-right:1em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2
}

/*---------Home Page------------*/

#home-page{
/*  background:url(../images/home-hero.jpg) no-repeat center top;
  @include background-cover; */
  width:100%;
  position:relative;
}
@media (min-width: 20rem) and (max-width: 30rem){
  #home-page{
    display:none;
  }
}
#hero-copy{
  padding-top:16em;

}

#hero-copy{
  h1{
    font-size:7em;
    margin-bottom: .25em;
  }
  h3{
    font-size:3em;
  }
}

#intro{
  padding-bottom:8em;
}
@media (min-width: 20rem) and (max-width: 30rem){
  #intro{
  padding-top:4em;
  padding-bottom:2em;
}
}
#quote{
  border-top:1px solid #D4D4D4;
  border-bottom:1px solid #D4D4D4;
  padding-top:8em;
  padding-left:1em;
  padding-bottom:8em;
  padding-right:1em;
  margin-bottom:8em;
}
@media (min-width: 20rem) and (max-width: 30rem){
  #quote{
  border-top:1px solid #D4D4D4;
  border-bottom:1px solid #D4D4D4;
  padding-top:2em;
  padding-left:1em;
  padding-bottom:2em;
  padding-right:1em;
  margin-bottom:4em;
}
}
#lists{
  margin-bottom:8em;
}
@media (min-width: 20rem) and (max-width: 30rem){
  #lists{
  margin-bottom:2em;
}
}

#lists{
  h2{
    padding-bottom:1em;
    margin-bottom:1em;
  }
}
.line{
  min-height:450px;
  border-top:1px solid #D4D4D4;
  border-bottom:1px solid #D4D4D4;
  padding-top:4em;
  margin-bottom: 4em;
}
#recent-projects{
  padding-right:3em;
}
#recent-posts{
  padding-left:0em;
}
@media (min-width: 20rem) and (max-width: 30rem){
  #recent-posts{
    padding-top:6em;
  }
}

/*-------------Blog--------------*/

/*list-hero is styling for the posts
& projects archive pages*/
.list-hero{
  padding-top:3em;
  display:inline-block;
  padding-bottom: 1em;
  border-bottom:1px solid #D4D4D4;
  margin-bottom:2em;
}
@media (min-width: 20rem) and (max-width: 30rem){
  .list-hero{
  padding-top:1em;
  margin-bottom:1em;
}
}
.blog{
  padding-top:3em;
  padding-bottom:3em;
}
.blog{
  a{
    color:$orange;
  }
}

.blog-post ol li{
  font-size:1.25 em;
}
.title-space{
  padding-top:6em;
  margin-top:3em;
}

.images{
  padding-top:6em;
  padding-bottom:3em;
}


